In [4]:
import pandas as pd

In [5]:
filepath=("cities.csv")
data=pd.read_csv(filepath)
data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,talnakh,69.49,88.40,60.80,67.0,34.0,8.95,RU,1596036971
1,bluff,-46.60,168.33,50.32,91.0,100.0,13.80,NZ,1596036919
2,port alfred,-33.59,26.89,60.57,70.0,0.0,14.52,ZA,1596036937
3,hobart,-42.88,147.33,48.20,61.0,13.0,12.75,AU,1596036878
4,qaanaaq,77.48,-69.36,42.49,73.0,70.0,2.13,GL,1596036972
...,...,...,...,...,...,...,...,...,...
560,hofn,64.25,-15.21,53.60,76.0,20.0,12.75,IS,1596037161
561,matagami,49.75,-77.63,62.60,93.0,75.0,4.41,CA,1596037161
562,pafos,34.77,32.42,87.80,62.0,0.0,12.75,CY,1596037162
563,tame,6.46,-71.73,84.72,65.0,25.0,5.55,CO,1596037162
564,bathsheba,13.22,-59.52,87.80,74.0,40.0,24.16,BB,1596037162

In [8]:
table=data.to_html()

In [9]:
html_text=open("html_text","w")
html_text.write(table)
html_text.close()